/* CSS Document */

.info{ display: table; margin: 15px auto 25px;}

.info img{ display: table-cell; width: 42px; vertical-align: middle; margin-right: 18px; }
.info span{ display: table-cell; vertical-align: middle; font-size: 18px; }


h3{ line-height: 25px; color: #fb4f2e; font-size: 14px;  margin-bottom: 3px;}

.order_pay{ padding: 0 10px; }
.order_pay p{ border-bottom: 1px solid #ddd; font-size: 12px; }
.order_pay p.order_num{ line-height: 32px;}
.order_pay .pay{ position: relative; line-height: 30px; margin-bottom: 26px; }
.order_pay .pay img{ position: absolute; left: 0; height: 60px; background: #fff; padding:12px 7px 12px 3px; }
.order_pay .pay p{ padding-left: 55px;}
.order_pay .pay span.total{ color: #fb4f2e; }

.order_pay .pay_style p{ line-height: 14px; text-align: center; border: none;}
.order_pay .pay_style a{ display: block; }


form.card{ margin-top: 18px;}

form.card  p{ border: none; }
/*form div.code{ width: 78%; margin: 0; }
.pay_next div.code{ width: 100%; }
.pay_next div.code input{ width: 64%;}
.pay_next form div.code span{ width: 34%; }
*/

.card_detail .detail { border-bottom: 1px solid #ddd; padding-right: 20px;}
.card_detail .detail p{ line-height: 22px;}
.card_detail .detail img{ float: left; width: 140px; height: 45px; overflow: hidden;} 

form div.checkBox .check-box{ width: 14px; height: 14px; border-radius: 50%; }
form div.checkBox input[type=checkbox]:checked + .check-box, .check-box.checked{ background: #fff; border: 2px solid #fb4f2e; }
.check-box::before, .check-box::after{ background: #fb4f2e;}
@media screen and (min-width: 750px){
	}