.top{ position: absolute; left: 0; top: 0; width: 100%; z-index: 1; }
.top .info{ position: absolute; left: 0; top: 25px; height: 36px; border-top-right-radius: 18px; border-bottom-right-radius: 18px; background: #fb4f2e; }
.top .info img{ height: 31px; width: 31px; border-radius: 50%; border: 2px solid #fff; margin: 2px 2px 0 7px; }



/*成长阶段（树）*/
.tree{ position: relative; }
.tree img{  width: 100%; display: block;}
.tree .map{ position: absolute; left: 10px; bottom: 25px; width: 27px;}
.tree .gl{ position: absolute; right: 10px; bottom: 25px; width: 27px;}

/*--成长值---*/
.top .progress{ position: absolute;  left: 70px; top: 17px; height: 12px; }
.top .progress > p{ width: 210px; text-align: center;  font-size: 14px; margin-bottom: 5px; }
.schedulebg{ float: left; position:relative; height:12px; width:210px; border-radius:6px; background: rgba(255,255,255,0.7); overflow: hidden; }
.schedule{ height:12px; border: 1px solid #fff; border-radius: 6px; background:url(../img/_temp/schedule.png)  repeat-x; border-color: rgba(255,255,255,0); }
.schedulebg p{ position:absolute; right: 5px; top:0;  line-height:12px; text-align:right; color:#0f8009; font-size: 10px }
.schedulebg p em{ font-style:normal;  }
.progress span.right{ font-size: 12px; line-height: 12px; padding-left: 5px; }


/*标题*/
.title { line-height: 0; margin: 10px auto;}
h2.title img{ display: block; width: 150px; margin: 0 auto;}

/*排行榜*/
.rank{ text-align: center;}
.rank ul{ border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;  }
.rank ul li{ position: relative; line-height: 50px; border-bottom: 1px solid #ddd; width: 100%; font-size: 12px; }
.rank li:last-child{ border-bottom: none;}
.rank li .num{ position: absolute; left: 0; top: 2px; width: 18px; height: 50px; text-align: left; line-height: 50px; font-size: 14px; background: #fff; font-weight: bold;}
.rank li:last-child .num{ top: 0; }

.rank .content { padding-left: 18px; width: 100%;}
.rank .content .left img{ float: left; width: 40px; height: 40px; border-radius: 50%; margin: 5px 10px 0 0; padding: 3px; border: 1px solid #eee; }
.rank .content .right span{ font-size: 14px; color: #df1715; padding-right: 8px;}

.rank a.more{ display: inline-block; padding: 16px;  }

/*功德林*/
.tree_map img{ width: 100%; display: block;}



/*侧拉导航*/
 .slide_nav {
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  -webkit-transform: translate(-220px,0);
  -moz-transform: translate(-220px,0);
  -ms-transform: translate(-220px,0);
  -o-transform: translate(-220px,0);
  transform: translate(-220px,0);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
} 
.slide_nav.show{
	transform:translate(0,0);  opacity: 1;
  	-webkit-transform: :translate(0,0);
  	-moz-transform: :translate(0,0);
  	-ms-transform: translate(0,0);
  	-o-transform: :translate(0,0);
	 }
.slide_nav .content{ z-index: 10; position: fixed; width: 200px; top: 0;}	
.slide_nav .bg{ position: absolute; left: 0; top: 0; width: 200px; height: 100%; background: rgba(24,103,125,0.8); z-index: -1;}

.slide_nav h2{ position: absolute; left: 0; top: 25px; width: 222px; height: 36px; line-height: 36px; background: #fb4f2e; border-top-right-radius: 18px; border-bottom-right-radius: 18px;}
.slide_nav h2 > .left img{ height: 31px; width: 31px; border-radius: 50%; border: 2px solid #fff; margin: 2px 7px 0 10px; }
.slide_nav h2 span.user_name{ font-size: 12px; color: #fff;}
.slide_nav h2 div.btn img{ height: 16px; margin: 8px 8px 0 0; }

.slide_nav .content ul{ margin: 75px 0 13px; width: 100%; line-height: 14px; padding: 0 22px 0 32px; color: #fff;}
.slide_nav .content ul li { width: 100%; padding: 7px 0;}
.slide_nav .content ul li img{ float: left; height:16px ; }
.slide_nav .content ul li img:last-of-type{ height: 14px; padding-left: 9px; }
.slide_nav .content ul li span{ float: right;  text-align: right; font-size: 12px; }
.slide_nav .content ul li em{ color: #fff000; font-style: normal; padding-right: 6px; }

.slide_nav .content nav li { height: 35px; padding-left: 10px; margin-bottom: 10px; background: url(../img/_temp/item_bg.png) top repeat-x; background-size: contain; }
.slide_nav .content nav li a{ display: block; height: 35px; line-height: 35px; margin-bottom: 3px;}
.slide_nav .content nav li a img:first-child{ width: 19px; margin: 3px 10px 0 3px;}
.slide_nav .content nav li a img:last-child{ width: 65px;}

.slide_navbg{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3); z-index: 5;}


/*成长记录*/
.record_info{ height: 90px; width: 100%; background: url(../img/_temp/record_bg.png) repeat-x; background-size: contain;}
.record_info img{ display: table-cell; vertical-align: middle; width: 42px; height: 42px; margin: 14px 9px; border-radius: 50%; border: 1px solid #fff; }
.record_info .wrapper > div.left{ margin-top: 14px; }
.record_info .wrapper > div.left > p{ margin-bottom: 10px; font-size: 13px; line-height: 14px; }
.record_info .wrapper > div.left p .user_name{ padding-right: 18px; }
.record_info .wrapper > div.left p .sl b{ font-weight: normal; }


.record{ position: relative; overflow: hidden;}
.record li{ line-height: 32px;}
.record li.date{ height: 30px; line-height: 30px; font-size: 12px; color: #333; font-weight: bold; background: #fff;}
.record img{ width: 16px; margin: 0 3px; padding: ;}
.record li div{ border-bottom: 1px solid #ddd; padding: 0 2px;}
.record li span.time{ float: left;}
.record li span.con{ float: left; width: 240px; padding: 0 15px; text-align: center; }
.record li span.con b{ color: #d7221f; font-weight: normal; }
.record li span.num{ float: right; width: 30px; color: #d7221f; text-align: right;}

.record  b.line{ position: absolute; left: 11px; top: 0px; height: 100%; width: .5px; background: #ddd; z-index: -1; }

@media only screen and (max-width: 320px) {
	.top .progress{ left: 60px; }
	.top .progress > p{ width: 180px; }
	.schedulebg{ width: 180px; }
}